{% extends "admin/change_form.html" %}
{% load i18n %}

{#{% block after_field_sets %}#}
{##}
{#    <input type="button" value="Copy email" onclick="CopyText()"/>#}
{##}
{#    {{ block.super }}#}
{##}
{#    {{ for.super }}#}
{##}
{#{% endblock %}#}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
            {% for line in fieldset %}
                {% for field in line %}


                    {% if field.field.name == "email" %}
                        <input type="button" value="Copy email" onclick="CopyText()"/>
                    {% endif %}

                {% endfor %}
            {% endfor %}
    {% endfor %}
    <script>
        function CopyText() {
        var text = document.getElementById('id_email')
        text.select();
        document.execCommand('copy')
    }
</script>
{% endblock %}


